.sidebar-color {
  background-color: $grayColor;
}
.height-10 {
  height: 10px;
}
#sidebar-div {
  color: #2e4c6a;
  font-family: sans-serif;
  font-weight: bold;
  background-color: $grayColor;
  min-height: 100vh;
  position: relative;
}
ul {
  li {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: $grayColor;
    &:focus {
      border-radius: 6px 0 0 6px;
      background-color: #ffffff;
    }
  }
  background-color: $grayColor;
}
.remove-link-style {
  color: #1e3e5e;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: #1e3e5e;
    text-decoration: none;
  }
}
.active {
  border-radius: 10px 0 0 10px;
  background-color: #ffffff;
}
#hr-div {
  width: 95%;
  margin: 0 2.5% 0 2.5%;
  background-color: #767676;
  height: 1px;
}
#username-div {
  background-color: #ffffff;
  /*cursor: pointer;*/
  /*user-select: none;*/
}
#logout-div {
  cursor: pointer;
  user-select: none;
  color: #dd4d4d;
}
#bottom-sidebar-div {

  width: 100%;
}